ion-footer {
  background: linear-gradient(180deg, rgba(35, 224, 200, 1) 0%, rgba(73, 180, 181, 1) 100%);
}

ion-icon {
  font-size: 20px;
  color: white;
  --ionicon-stroke-width: 16px;
}

ion-col {
  display: flex;
  justify-content: center;
}

.texto {
  text-align: justify;
  font-style: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  animation-name: fade;
  animation-duration: 2s;
}

ion-card {
  display:contents;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  border: 3px solid white;
  padding: 10px 35px;
  border-top: 3px solid colorofyourchosing;
  box-shadow: 0 !important;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
