<ion-content class="ion-padding ion-text-center" color="secundary">
  <img src="../../../assets/img/logo.png" class="logo" />
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding class="item-content">
          <ion-item>
            <ion-icon name="person" color="primary"></ion-icon>
            <ion-input type="text" placeholder="Usuario" [(ngModel)]="loginacceso"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="card" color="primary"></ion-icon>
            <ion-input type="text" placeholder="N° de Comitente" [(ngModel)]="comitente"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="card" color="primary"></ion-icon>
            <ion-input type="text" placeholder="N° de Cédula" [(ngModel)]="cedula"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="eye-off" color="primary"></ion-icon>
            <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>
        <div padding class="item-content">
          <ion-button expand="full" color="primary" type="submit" (click)="Ingresar()">Ingresar</ion-button>
        </div>
        <div class="ion-margin-top ion-text-center">
          <a (click)="dismiss()">Salir</a>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

