<ion-header style="background-color: rgba(35, 224, 200, 1)">
  <ion-toolbar class="barra" color="primary">
    <div class="ion-text-center">
      <h4>Estructuras Financieras</h4>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img src="../../../assets/img/card4.jpg" alt=”slide-1” />
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="texto">
            Desarrollamos estructuras financieras de acuerdo a las necesidades de nuestros clientes. Proveer una solución con una configuración elegante y segura para el mercado es el principal objetivo de este servicio.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-icon name="globe" onclick="window.open('https://www.fais.com.py/','_system','location=yes')"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon name="logo-facebook" onclick="window.open('https://www.facebook.com/Faiscbsa/','_system','location=yes')"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon name="logo-instagram"  onclick="window.open('https://instragram.com/faiscbsa?igshid=NTc4MTIwNjQ2YQ==','_system','location=yes')"></ion-icon>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon name="logo-twitter" onclick="window.open('https://twitter.com/faiscbsa?lang=es','_system','location=yes')"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>